<!DOCTYPE html>
<html>
<head>
    <style>
        .topnav {
            background-color: #333;
            overflow: hidden;
            height: 60px;
            display: flex;
            align-items: center;
        }

        .topnav .username {
            color: #fff;
            margin-left: auto;
            margin-right: 25px;
        }

        .topnav .username:hover {
            background-color: #444;
        }
    </style>
</head>
<body>

<div class="topnav">
    <div class="username">Username</div>
</div>

</body>
</html>